.about {
    max-height: 100%;
}

.profile-drawer {
    position: relative;

    &__container::before {
        position: absolute !important;
    }

    &__container {
        position: sticky;
    }

    &__photo {
        border-radius: 50%;
        padding: 10px;
        width: 80%;
    }
    &__social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 10px !important;

        path {
            fill: white;
        }

        li {
            height: 35px;
            width: 35px;
        }
    }
}
